@font-face {
  font-family: "Lora";
  src: url(fonts/Lora-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Lora";
  src: url(fonts/Lora-Italic.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Lora";
  src: url(fonts/Lora-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Lora";
  src: url(fonts/Lora-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}
